body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color:rgb(243, 239, 5);
}
h1{
    font-size: 50px;
    margin-top: 30px;
    border: 3px dotted rgb(204, 207, 16);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}
.cards{
    display: flex;
    justify-content: center;    
    gap: 20px;
    height: 170px;
}
#controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#hit-button, #stand-button, #new-game-button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(243, 239, 5);
    border: 2px solid rgb(204, 207, 16);
    border-radius: 5px;
    width: 150px;
}