body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color:rgb(243, 239, 5);
}
h1{
    font-size: 50px;
    margin-top: 30px;
    border: 3px dotted rgb(204, 207, 16);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}
.cards{
    display: flex;
    justify-content: center;    
    gap: 20px;
    height: 170px;
}
#controls-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}
#betting{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(204, 207, 16);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    gap: 20px;
}
#bet-amount{
    width: 80px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid rgb(204, 207, 16);
    border-radius: 5px;
    background-color: rgb(11, 141, 29);
    color: rgb(241, 241, 236);
    font-weight: bold;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
#balance{
    margin-bottom: 10px;
}
#controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#hit-button, #stand-button, #new-game-button, #play-button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(243, 239, 5);
    border: 2px solid rgb(204, 207, 16);
    border-radius: 5px;
    width: 150px;
}